<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertDeprecationsToExceptions="false"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="MDB2">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- e.g. pgsql://postgres:password@127.0.0.1/mdb2_test -->
        <env name="MDB2_TEST_DSN" value="sqlite3:///:memory:"/>
    </php>
</phpunit>
